!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %title Ruby Australia
    %meta{name: 'description', content: 'Ruby Australia'}
    %meta{name: 'keywords', content: 'ruby, rails, australia, melbourne, sydney, canberra, perth, central coast, brisbane, perth, western australia, sa, south australia, victoria, new south wales, nsw, vic, qld, queensland, wa, can, programming, meetup, group, user group, conferences, events'}
    %meta{name: 'viewport', content: 'width=device-width'}

    %link{rel: 'stylesheet', href: '/css/screen.css'}
    %script{src: '/js/modernizr.min.js'}
  %body
    %header{role: 'banner'}
      %a{href: '/'}
        %span.logo Ruby Australia
    %aside#meta
      %nav{role: 'navigation'}
        %h3 Association
        %ul
          %li
            %a{href: '/committee-members.html'} Committee Members
          %li
            %a{href: '/join-ruby-australia.html'} Join Ruby Australia
          %li
            %a{href: '/association.html'} Meeting Minutes
          %li
            %a{href: '/code-of-conduct.html'} Code of Conduct
          %li
            %a{href: '/#railscamp'} Railscamp
          %li
            %a{href: '/#rubyconf-au'} RubyConf AU
          %li
            %a{href: 'http://twitter.com/rubyaustralia'} @rubyaustralia
        %h3 Community
        %ul
          %li
            %a{href: '/#meetups'} Meetups
          %li
            %a{href: '/articles'} Articles
          %li
            %a{href: 'https://groups.google.com/forum/#!forum/rails-oceania'} Mailing list
          %li
            %a{href: 'http://kiwiirc.com/client/irc.freenode.net/roro'} IRC (#roro)
          %li
            %a{href: 'https://vimeo.com/rubyau/channels'} Videos
          %li
            %a{href: 'https://github.com/rails-oceania/roro/wiki/Mentoring'} Mentoring
          %li
            %a{href: 'https://github.com/rails-oceania/roro/wiki'} Wiki

    %section{role: 'main'}
      = yield

    %footer{role: 'contentinfo'}
      %small &copy; 2014 Ruby Australia
