%section#association
  %header
    %h1 Association

  %article
    %header
      %h3 Annual General Meeting Minutes
      %ul
        %li
          %a{href: '/general_meetings/2013-06-23.html'} June 23 2013 (@Rails Camp 13)

  %article
    %header
      %h3 Special General Meeting Minutes
      %ul
        %li
          %a{href: '/general_meetings/2012-11-20.html'} November 20 2012 (@Rails Camp 12)
        %li
          %a{href: '/general_meetings/2012-06-16.html'} June 16 2012 (@Rails Camp 11)
