%section#association
  %header
    %h1 Association

  %article
    %header
      %h3 Annual General Meeting Minutes
      %ul
        %li
          %a{href: '/general_meetings/2015-06-14.html'} June 14 2015 (Rails Camp 17)
        %li
          %a{href: '/general_meetings/2014-05-10.html'} May 10 2014 (Rails Camp 15)
        %li
          %a{href: '/general_meetings/2013-11-03.html'} November 03 2013 (Rails Camp 14)
        %li
          %a{href: '/general_meetings/2013-06-23.html'} June 23 2013 (Rails Camp 13)

  %article
    %header
      %h3 Special General Meeting Minutes
      %ul
        %li
          %a{href: '/general_meetings/2014-11-15.html'} November 15 2014 (Rails Camp 16)
        %li
          %a{href: '/general_meetings/2012-11-20.html'} November 20 2012 (Rails Camp 12)
        %li
          %a{href: '/general_meetings/2012-06-16.html'} June 16 2012 (Rails Camp 11)

  %article
    %header
      %h3 Committee Meeting Minutes
      %ul
        %li
          %a{href: '/committee_meetings/2015-07-08.html'} July 8 2015 (Online Webinar)
