%section#members
  %header
    %h1 Committee Members

  %article
    %img{src: '/images/committee-members/matta.jpg'}
    %header
      %h3 Matt Allen
      %p.position President
    .bio
      %p Matt came to Ruby through Rails in 2007 after a decade of ASP and PHP. He’s the guy that moved the Sydney Ruby meet up from an office to a pub and now he heads up Lookahead Search in Melbourne.
    .contact
      %a{href: 'http://twitter.com/mattallen'} @mattallen
      %a{href: 'http://lookahead.com.au'} Lookahead Search

  %article
    %img{src: '/images/committee-members/jason-stirk.jpg'}
    %header
      %h3 Jason Stirk
      %p.position Treasurer
    .bio
      %p Jason met Ruby in late 2004, fell in love with its elegance, and met Rails not long after. He lives in Lismore and likes Railscamp T's, game development and underscores.
    .contact
      %a{href: 'http://twitter.com/j_stirk'} @j_stirk
      %a{href: 'http://au.linkedin.com/in/jasonstirk/'} LinkedIn
      %a{href: 'https://github.com/jstirk'} Github

  %article
    %img{src: '/images/committee-members/luke-chadwick.jpg'}
    %header
      %h3 Luke Chadwick
      %p.position Secretary
    .bio
      %p Geek since birth. Rubyist & DevOp. Lover. Idealist. Proud creator of <a href="http://faxitforme.com">http://faxitforme.com</a> (RailsRumble2012)
      %p Formerly at <a href="http://realestate.com.au">realestate.com.au</a>, Luke is now helping build a startup called <a href="http://popanything.com">Pop!</a>
    .contact
      %a{href: 'http://twitter.com/vertis'} @vertis
      %a{href: 'https://github.com/vertis'} GitHub
      %a{href: 'http://vertis.io'} Blog

  %article
    %img{src: '/images/committee-members/john-barton.jpg'}
    %header
      %h3 John Barton
      %p.position General Member
    .bio
      %p Bicycle, book, and booze enthusiast. Rubyist. Co-founder of <a href='http://goodfil.ms'>http://goodfil.ms</a>.
      %p Former development team lead for Envato across their Marketplace products, John has been a long time member of the Australian Ruby community and has helped organise a couple of the Melbourne RailsCamps.
    .contact
      %a{href: 'http://twitter.com/johnbarton'} @johnbarton
      %a{href: 'https://github.com/joho'} Github
      %a{href: 'http://whoisjohnbarton.com/'} John's site

  %article
    %img{src: '/images/committee-members/elle-meredith.jpg'}
    %header
      %h3 Elle Meredith
      %p.position General Member
    .bio
      %p Elle is a full stack web developer with more than ten years experience, and a unique background that bridges the gap between the front- and back-end. She has been working with Ruby and Rails since 2007 and as a full time Rails developer since 2009.
    .contact
      %a{href: 'http://twitter.com/aemeredith'} @aemeredith
      %a{href: 'https://github.com/elle'} Github
      %a{href: 'http://about.me/aemeredith'} About Elle

  %article
    %img{src: '/images/committee-members/lachie-cox.jpg'}
    %header
      %h3 Lachie Cox
      %p.position General Member
    .contact
      %a{href: 'http://twitter.com/lachiecox'} @lachiecox
      %a{href: 'https://github.com/lachie'} Github

  %article
    %img{src: '/images/committee-members/dylan-lacey.jpg'}
    %header
      %h3 Dylan Lacey
      %p.position General Member
    .bio
      %p Dylan is a Ruby developer evangelist who thinks that computers will save the world - He's just not sure what from. He loves automating boring stuff, making software things and video games. He still can't fly.
    .contact
      %a{href: 'http://twitter.com/DylanLacey'} @DylanLacey
      %a{href: 'https://github.com/DylanLacey'} Github

  %article
    %a{href: '/previous-committee-members.html'} Previous Committee Members
