%section#members
  %header
    %h1 Committee Members

  %article
    %img{src: '/images/committee-members/sebastian-avatar.jpg'}
    %header
      %h3 Sebastian von Conrad
      %p.position President
    .bio
      %p After growing up in Sweden, Sebastian escaped to the US in 2007 and moved down under in 2009. He now lives in Melbourne with his partner and two fur children, and works as a development manager at <a href="http://www.envato.com">Envato</a>. He is also a certified baseball nut. Having organised Rails Camp X, he is excited to continue working with the Australian Ruby community.
    .contact
      %a{href: 'http://twitter.com/vonconrad'} @vonconrad
      %a{href: 'http://au.linkedin.com/in/vonconrad'} LinkedIn
      %a{href: 'https://github.com/vonconrad'} GitHub

  %article
    %img{src: '/images/committee-members/melissa-kaulfuss.jpg'}
    %header
      %h3 Melissa Kaulfuss
      %p.position Vice President
    .bio
      %p Mel is an internet enthusiast and polyglot amateur. She dreams of being a software developer, but at the moment is content helping the open source community continue to be a supportive, inclusive and welcoming place for everyone. Mel was on the organising team for Ruby Conf 2015, volunteers her time to help at numerous awesome tech conferences, and co-organises a Melbourne Meetup called <a href="http://codekuma.io/">Code Kuma</a>. She works at <a href="http://www.lookahead.com.au/">Lookahead</a> in Melbourne.
    .contact
      %a{href: 'http://twitter.com/MelissaKaulfuss'} @MelissaKaulfuss
      %a{href: 'https://github.com/MelissaKaulfuss'} GitHub

  %article
    %img{src: '/images/committee-members/matt-allen.jpg'}
    %header
      %h3 Matt Allen
      %p.position Treasurer
    .bio
      %p Matt came to Ruby through Rails in 2007 after a decade of ASP and PHP. He’s the guy that moved the Sydney Ruby meet up from an office to a pub and now he heads up <a href="http://www.lookahead.com.au/">Lookahead</a> in Melbourne.
    .contact
      %a{href: 'http://twitter.com/mattallen'} @mattallen
      %a{href: 'http://lookahead.com.au'} Lookahead Search

  %article
    %img{src: '/images/committee-members/mikel-lindsaar.jpg'}
    %header
      %h3 Mikel Lindsaar
      %p.position Secretary
    .bio
      %p Mikel has been involved with Ruby since 2007 after deciding to learn ruby by building the <a href="https://rubygems.org/gems/mail">mail gem</a>. Since then he founded <a href="https://reinteractive.net/">reinteractive</a> in 2010 and co-founded <a href="https://flood.io/">Flood.IO</a> in 2013.  Mikel enjoys his RC Helicopter flying and Formula1, both of which involve expensive things going fast into walls at odd angles.
    .contact
      %a{href: 'http://twitter.com/lindsaar'} @lindsaar
      %a{href: 'https://github.com/mikel'} GitHub
      %a{href: 'https://reinteractive.net'} reinteractive
      %a{href: 'https://flood.io'} flood.io

  %article
    %img{src: '/images/committee-members/rob-jacoby.jpg'}
    %header
      %h3 Rob Jacoby
      %p.position General Member
    .bio
      %p Rob fell in love with Ruby in 2011 after fighting with PHP for a number of years. He loves bending rails to his will, and is terrible at front-end design - or at least that's what designers say.  He works at Local Directories on the fabulous Gold Coast.
    .contact
      %a{href: 'http://twitter.com/robjacoby'} @robjacoby
      %a{href: 'https://github.com/robjacoby'} GitHub

  %article
    %img{src: '/images/committee-members/amanda-neumann.jpg'}
    %header
      %h3 Amanda Neumann
      %p.position General Member
    .bio
      %p In her previous career, Amanda spent many years in the education space harnessing technology to improve education. Realising her heart had always been in programming she took a leap and set out to make the jump permanently. Along the way she fell in love with the Ruby community and is now working as a Junior Ruby Developer for <a href="http://www.envato.com">Envato</a> in Melbourne.
    .contact
      %a{href: 'http://twitter.com/amandamelb'} @amandamelb
      %a{href: 'https://github.com/amanda08'} GitHub

  %article
    %header
      %h3 Leonard Garvey
      %p.position General Member
    .contact
      %a{href: 'http://twitter.com/lgarvey'} @lgarvey
      %a{href: 'https://github.com/lengarvey'} GitHub

  %article
    %img{src: '/images/committee-members/john-barton.jpg'}
    %header
      %h3 John Barton
      %p.position General Member
    .bio
      %p John's the Director of Engineering at <a href="http://99designs.com">99designs</a> where he's guiding the transition from a pure PHP monolith to a polyglot enviroment where they can get the best bits out of Ruby, Go, and PHP. He's been part of Melbourne's Ruby community since early 2006, has run a couple of Railscamps, and likes using the oxford comma for exactly three things.
    .contact
      %a{href: 'http://twitter.com/johnbarton'} @johnbarton
      %a{href: 'https://github.com/joho'} GitHub

  %article
    %a{href: '/previous-committee-members.html'} Previous Committee Members
