%section#members
  %header
    %h1 Committee Members

  %article
    %img{src: '/images/committee-members/ben-avatar.jpg'}
    %header
      %h3 Ben Schwarz
      %p.position President
    .contact
      %a{href: 'http://twitter.com/benschwarz'} @benschwarz
      %a{href: 'http://germanforblack.com'} Ben's site

  %article
    %img{src: '/images/committee-members/josh-price.jpg'}
    %header
      %h3 Josh Price
      %p.position Vice President
    %div.bio
      %p Ruby / Javascript / Java Agilist. Founder of Canoniq. Apple tragic. Hack Night organiser. Bon vivant. Enthusiast. Coffee lover. Proud father.
    %div.contact
      %a{href: 'http://twitter.com/joshprice'} @joshprice
      %a{href: 'https://github.com/joshprice'} Github
      %a{href: 'http://joshprice.com/'} Josh's site

  %article
    %img{src: '/images/committee-members/jason-stirk.jpg'}
    %header
      %h3 Jason Stirk
      %p.position Treasurer
    %div.bio
      %p By day Jason is Development Manager at <a href="http://www.reinteractive.net/">reInteractive</a> where he wrangles rubyists, and occasionally Ruby. He lives in Lismore and likes Railscamp T's, underscores, and writing simulation games that never get finished.
    %div.contact
      %a{href: 'http://twitter.com/j_stirk'} @j_stirk
      %a{href: 'http://au.linkedin.com/in/jasonstirk/'} LinkedIn
      %a{href: 'https://github.com/jstirk'} Github

  %article
    %img{src: '/images/committee-members/ryan-avatar.jpg'}
    %header
      %h3 Ryan Bigg
      %p.position Secretary
    %div.bio
      %p Ryan Bigg lives in Melbourne, wrote <a href='http://manning.com/bigg2'>a Rails book</a> and works on <a href='http://spreecommerce.com'>Spree Commerce</a> full time.
    %div.contact
      %a{href: 'http://twitter.com/ryanbigg'} @ryanbigg

  %article
    %a{href: '/previous-committee-members.html'} Previous Committee Members
