%section#members
  %header
    %h1 Former Committee Members

  %article
    %img{src: '/images/committee-members/keith-pitt.jpg'}
    %header
      %h3 Keith Pitt
      %p.position General Member
    .bio
      %p Keith (also known as "Magic Keith") is a developer from Adelaide living in Perth, Western Australia. He is the founder of the Continuous Integration service Buildbox <a href="https://buildbox.io">https://buildbox.io</a>
      %p In Keith's spare time, he watches many scary movies, and wins Magic Competitions.
    .contact
      %a{href: 'http://twitter.com/keithpitt'} @keithpitt
      %a{href: 'https://github.com/keithpitt'} GitHub

  %article
    %img{src: '/images/committee-members/luke-arndt.jpg'}
    %header
      %h3 Luke Arndt
      %p.position General Member
    .bio
      %p Luke is a developer from New Zealand who now lives in Melbourne, writing Ruby on Rails code at <a href="http://www.envato.com">Envato</a> to help improve their digital Marketplaces. His interests include good food (such as bacon), cycling, video games and sword fighting.
    .contact
      %a{href: 'http://twitter.com/luke_arndt'} @luke_arndt
      %a{href: 'https://github.com/lukearndt'} GitHub

  %article
    %img{src: '/images/committee-members/melanie-sherrin.jpg'}
    %header
      %h3 Melanie Sherrin
      %p.position General Member
    .bio
      %p A lawyer with a burning ambition to be a dev, Mel is new to the world of both coding and Ruby. Cat herder, burner, unionist and enjoyer of wine.
    .contact
      %a{href: 'http://twitter.com/melsherrin'} @melsherrin

  %article
    %img{src: '/images/committee-members/pat-allan.jpg'}
    %header
      %h3 Pat Allan
      %p.position Vice President
    .bio
      %p Pat has been working with Ruby since 2006, and is based at the coworking space of <a href="http://inspire9.com">Inspire9</a> in Melbourne. Often, though, you'll find him travelling around the world, attending interesting events and meeting interesting people. He's a fan of bringing people together for gatherings small and large, including <a href="http://trampolineday.com">Trampoline</a> and <a href="http://railscamps.com">Rails Camp</a>. And if you ask him nicely, he might even cook you a pancake.
    .contact
      %a{href: 'http://twitter.com/pat'} @pat
      %a{href: 'http://github.com/pat'} GitHub
      %a{href: 'http://freelancing-gods.com'} Blog

  %article
    %img{src: '/images/committee-members/jason-stirk.jpg'}
    %header
      %h3 Jason Stirk
      %p.position Treasurer 2013-2014
    .bio
      %p Jason met Ruby in late 2004, fell in love with its elegance, and met Rails not long after. He lives in Lismore and likes Rails Camp T's, game development and underscores.
    .contact
      %a{href: 'http://twitter.com/j_stirk'} @j_stirk
      %a{href: 'http://au.linkedin.com/in/jasonstirk/'} LinkedIn
      %a{href: 'https://github.com/jstirk'} GitHub

  %article
    %img{src: '/images/committee-members/luke-chadwick.jpg'}
    %header
      %h3 Luke Chadwick
      %p.position Secretary 2014
    .bio
      %p Geek since birth. Rubyist & DevOp. Lover. Idealist. Proud creator of <a href="http://faxitforme.com">http://faxitforme.com</a> (RailsRumble2012)
      %p Formerly at <a href="http://realestate.com.au">realestate.com.au</a>, Luke is now helping build a startup called <a href="http://popanything.com">Pop!</a>
    .contact
      %a{href: 'http://twitter.com/vertis'} @vertis
      %a{href: 'https://github.com/vertis'} GitHub
      %a{href: 'http://vertis.io'} Blog

  %article
    %img{src: '/images/committee-members/josh-price.jpg'}
    %header
      %h3 Josh Price
      %p.position Vice President 2013
    .bio
      %p Ruby / Javascript / Java Agilist. Founder of Canoniq. Apple tragic. Hack Night organiser. Bon vivant. Enthusiast. Coffee lover. Proud father.
    .contact
      %a{href: 'http://twitter.com/joshprice'} @joshprice
      %a{href: 'https://github.com/joshprice'} GitHub
      %a{href: 'http://joshprice.com/'} Josh's site

  %article
    %img{src: '/images/committee-members/dylan-lacey.jpg'}
    %header
      %h3 Dylan Lacey
      %p.position General Member
    .bio
      %p Dylan is a Ruby developer evangelist who thinks that computers will save the world - He's just not sure what from. He loves automating boring stuff, making software things and video games. He still can't fly.
    .contact
      %a{href: 'http://twitter.com/DylanLacey'} @DylanLacey
      %a{href: 'https://github.com/DylanLacey'} GitHub

  %article
    %img{src: '/images/committee-members/elle-meredith.jpg'}
    %header
      %h3 Elle Meredith
      %p.position General Member
    .bio
      %p Elle is a full stack web developer with more than ten years experience, and a unique background that bridges the gap between the front- and back-end. She has been working with Ruby and Rails since 2007 and as a full time Rails developer since 2009.
    .contact
      %a{href: 'http://twitter.com/aemeredith'} @aemeredith
      %a{href: 'https://github.com/elle'} GitHub
      %a{href: 'http://about.me/aemeredith'} About Elle

  %article
    %img{src: '/images/committee-members/john-barton.jpg'}
    %header
      %h3 John Barton
      %p.position General Member
    .bio
      %p Bicycle, book, and booze enthusiast. Rubyist. Co-founder of <a href='http://goodfil.ms'>http://goodfil.ms</a>.
      %p Former development team lead for Envato across their Marketplace products, John has been a long time member of the Australian Ruby community and has helped organise a couple of the Melbourne RailsCamps.
    .contact
      %a{href: 'http://twitter.com/johnbarton'} @johnbarton
      %a{href: 'https://github.com/joho'} GitHub
      %a{href: 'http://whoisjohnbarton.com/'} John's site

  %article
    %img{src: '/images/committee-members/lachie-cox.jpg'}
    %header
      %h3 Lachie Cox
      %p.position General Member
    .contact
      %a{href: 'http://twitter.com/lachiecox'} @lachiecox
      %a{href: 'https://github.com/lachie'} GitHub

  %article
    %img{src: '/images/committee-members/ben-avatar.jpg'}
    %header
      %h3 Ben Schwarz
      %p.position President 2013
    .contact
      %a{href: 'http://twitter.com/benschwarz'} @benschwarz
      %a{href: 'http://germanforblack.com'} Ben's site

  %article
    %img{src: '/images/committee-members/ryan-avatar.jpg'}
    %header
      %h3 Ryan Bigg
      %p.position Secretary 2013
    .bio
      %p Ryan Bigg lives in Melbourne, wrote <a href='http://manning.com/bigg2'>a Rails book</a> and works on <a href='http://spreecommerce.com'>Spree Commerce</a> full time.
    .contact
      %a{href: 'http://twitter.com/ryanbigg'} @ryanbigg

  %article
    %img{src: '/images/committee-members/martin-stannard.jpg'}
    %header
      %h3 Martin Stannard
      %p.position Vice President: Jun 2012 &ndash; Jun 2013
    .bio
      %p Martin discovered Ruby in 2003 and his affair with it continues to this day. When not riding his bike he can be found as Team Lead at Blake eLearning, a company dedicated to helping children improve their literacy and numeracy skills.
    .contact
      %a{href: 'http://twitter.com/_martinS_'} @_martinS_

  %article
    %img{src: '/images/committee-members/warren-seen.jpg'}
    %header
      %h3 Warren Seen
      %p.position General Member: Jun 2012 &ndash; Jun 2013
    .bio
      %p Rails Developer. Reformed Freelancer. Mashing keyboards until ruby comes out for @envato
    .contact
      %a{href: 'http://twitter.com/warren_s'} @warren_s

  %article
    %img{src: '/images/committee-members/david-goodlad.jpg'}
    %header
      %h3 David Goodlad
      %p.position General Member: Jun 2012 &ndash; Jun 2013
    .bio
      %p A native of Canada, David now lives in Melbourne and is an active member of the local Ruby community. He enjoys both attending and speaking at Ruby-related events, having presented talks at RailsConf Europe 2006 in London, and at RubyConf 2008 in Orlando.
      %p David is part of the development team behind the <a href="http://www.envato.com/">Envato</a> marketplaces, building and maintaining one of the longest-running public Ruby on Rails-based apps in Australia.
    .contact
      %a{href: 'http://twitter.com/dgoodlad'} @dgoodlad
      %a{href: 'http://github.com/dgoodlad'} GitHub
      %a{href: 'http://d.goodlad.net'} David's Blog

  %article
    %img{src: '/images/committee-members/keith-avatar.jpg'}
    %header
      %h3 Keith Pitty
      %p.position President: Jan 2012 &ndash; Jun 2012
    .bio
      %p A long-time participant, former convener of and occasional presenter at Sydney Ruby meetups, Keith led the organisation of Rails Camp 9 at Lake Ainsworth in 2011 and co-organised the inaugural <a href="http://rubyconf.org.au">RubyConfAU</a> in Melbourne in 2013. He runs <a href="http://www.cockatoosoftware.com.au">Cockatoo Software</a>.
      %p Away from computers, he loves sport, especially cricket, golf and Aussie Rules. And single malt whisky.
    .contact
      %a{href: 'http://twitter.com/keithpitty'} @keithpitty
      %a{href: 'http://au.linkedin.com/in/keithpitty'} LinkedIn
      %a{href: 'https://github.com/keithpitty'} GitHub

  %article
    %img{src: '/images/committee-members/richie-avatar.jpg'}
    %header
      %h3 Richie Khoo
      %p.position Secretary: Jan 2012 &ndash; Jun 2012
    .bio
      %p Richie is a passionate Ruby Developer who recently moved to Adelaide but still moonlights in Melbourne.
      %p A member of Inspire 9 CoWorking and co-founder of AngelCube.com Melbourne's first startup venture accelerator, he is currently working on his own startup, NakedInsights an automation tool for Financial Advisers, and has a passion for helping people bring projects to reality.
    .contact
      %a{href: 'http://twitter.com/evolve2k'} @evolve2k
      %a{href: 'http://au.linkedin.com/in/richiekhoo'} LinkedIn
      %a{href: 'https://github.com/evolve2k'} GitHub
      %a{href: 'http://zerply.com/richie'} Zerply

  %article
    %img{src: '/images/committee-members/ben-avatar.jpg'}
    %header
      %h3 Ben Schwarz
      %p.position General Member: Jan 2012 &ndash; Jun 2012
    .contact
      %a{href: 'http://twitter.com/benschwarz'} @benschwarz
      %a{href: 'http://germanforblack.com'} Ben's site

  %article
    %img{src: '/images/committee-members/sebastian-avatar.jpg'}
    %header
      %h3 Sebastian von Conrad
      %p.position Treasurer: Jan 2012 &ndash; Dec 2012
    .bio
      %p After growing up in Sweden, Sebastian escaped to the US in 2007 and moved down under in 2009. He now lives in Melbourne with his partner and two fur children, and works as a development manager at <a href="http://www.envato.com">Envato</a>. He is also a certified baseball nut. Having organised Rails Camp X, he is excited to continue working with the Australian Ruby community.
    .contact
      %a{href: 'http://twitter.com/vonconrad'} @vonconrad
      %a{href: 'http://au.linkedin.com/in/vonconrad'} LinkedIn
      %a{href: 'https://github.com/vonconrad'} GitHub

  %article
    %img{src: '/images/committee-members/daniel-avatar.jpg'}
    %header
      %h3 Daniel Draper
      %p.position General Member: Jan 2012 &ndash; Jun 2012, Secretary: Jun 2012 &ndash; Dec 2012
    .bio
      %p Dan is CEO of Tech Startup, <a href="http://www.codehire.com/">Codehire</a> and has been working with Rails since 2006. He is actively involved in Adelaide.rb and the Ruby community at large. Dan is passionate about promoting software and web development as a career choice for younger people and about open source software in business.
    .contact
      %a{href: 'http://twitter.com/danieldraper'} @danieldraper
      %a{href: 'http://www.linkedin.com/in/ddraper'} Linkedin

  %article
    %img{src: '/images/committee-members/nigel-avatar.jpg'}
    %header
      %h3 Nigel Rausch
      %p.position President 2012
    .bio
      %p Nigel has a strong community spirit and is heavily involved organising Brisbane’s Ruby, Javascript and WorkAtJelly meetups as well as mentoring friends and ex-colleagues in their business ventures.
      %p He is proud to be part of the Ruby Australia Association and is excited how it will make Ruby more visible to the wider community and to the Enterprise.
    .contact
      %a{href: 'http://twitter.com/NR99'} @NR99
      %a{href: 'http://www.linkedin.com/in/nigelrausch'} Linkedin
