%section
  %h3 Adelaide Ruby

  %article
    %h4 Next Meetup
    %p Adelaide.rb meets on the first Tuesday of each month at <a href="http://majoran.co">Majoran.co</a>
    %p Beginners and visitors always welcome.
    %p For all the latest info, join us at the <a href="http://www.meetup.com/adelaiderb">Adelaide.rb Meetup Group</a>
    
  %article
    %h4 Organiser
    %p Chris Teague (<a href="http://twitter.com/chris_teague">@chris_teague</a>)