%section
  %h3 Brisbane

  %article
    %h4 Brisbane Ruby And Rails Meetup
    %p 4th Monday of each Month
    %p Presentations:
    %ul
      %li Refer to Meetup site for details
      %li BrisRuby.com <a href="http://brisRuby.com/">

  %article
    %h4 Organisers
    %p Nigel Rausch (<a href="http://twitter.com/nr99">@nr99</a>), Nathan Hoad and Paul O'Keefe.

  %article
    %h4 Schedule
    %p For more details about Brisbane Ruby meetups, visit <a href="http://brisruby.com">BrisRuby.com</a>.

