%section
  %h3 Melbourne Ruby

  %article
    %h4 When
    %p Melbourne Ruby meetings happen on the last Thursday of every month (with the exception of December which has a social event sometime in the middle of the month).

    %p Melbourne Ruby hack nights (where the focus is more on coding than talking) happen on the second Tuesday of every month.

    %p All events are listed on <a href="http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/">Meetup.com</a>.

  %article
    %h4 Where
    %p
      <a href="http://g.co/maps/9ykba">Inspire9</a><br>
      Level 1, 41-43 Stewart St<br>
      Richmond<br>
      6:00pm for a 6:30pm start!

  %article
    %h4 Organisers
    %ul
      %li Mario Visic (<a href="http://twitter.com/mariovisic">@mariovisic</a>)
      %li Pat Allan (<a href="http://twitter.com/pat">@pat</a>)

  %article
    %h4 Meeting Format
    %ul
      %li News &amp; events
      %li Who's hiring, who's available
      %li Lightning talks, tutorials and presentations on Ruby and related topics
      %li Food and drinks provided

  %article
    %h4 Sponsors
    %ul
      %li Thanks to <a href="http://inspire9.com">Inspire9</a> for providing us with an awesome venue!
      %li Thanks to <a href="http://envato.com">Envato</a> and <a href="http://www.lookahead.com.au">Lookahead Search</a> for filling us with delicious food!
      %li Thanks to <a href="http://www.zendesk.com">ZenDesk</a> for providing us with tasty beverages!

  %article
    %h4 Get Involved
    %p Chatter about upcoming meetings takes place <a href="http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/">on Meetup</a> and the <a href="https://groups.google.com/forum/?fromgroups#!forum/rails-oceania">Ruby or Rails Oceania</a> Google Group.
    %p Presenters, organisers and sponsors are always welcome, contact the organisers through the Google Group or on Twitter.

